.createButton {
    margin-top:15px;
    margin-bottom: 15px;
}

.fieldcontain{
    margin-top: 15px;
    margin-bottom: 15px;
}

fieldset.form label, #searchBarContainer label {
    min-width: 130px;
}

.inputField input{
    border: 1px solid #aaa;
    border-radius: 5px;
    min-width:350px;
}

.contentList {
    font-size: 18px;
}

.contentList li {
    margin-top:5px;
    margin-bottom:5px;
}

.maps label {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.maps img, .images img {
    display: block;
    margin: 15px 0px 15px 0px;
    padding-top: 15px;
    max-width: 550px;
}

.image img{
    display:block;
    max-width: 550px;
    margin-bottom:15px;

}

#show-attraction {
    margin-bottom: 45px;
}

.mainContainer{
    margin-bottom: 45px;
}

.addNewImage input{
    margin-top:10px;
    margin-bottom:10px;
}

.addNewImage{
    margin-top:45px;
}

.addNewTitle{
    float: left;
    margin-right: 30px;
}

.property-label {
    font-weight: bold;
    font-size: 16px;
}

.scaffold-edit, .scaffold-create {
    margin-bottom: 15px;
}

#map {
    width: 100%;
    height: 350px;
    margin-top: 75px;
}

.mapContainer{
    float: right;
}

#locationField, #controls {
    position: relative;
    width: 480px;
}

#autocomplete {
    top: 0px;
    left: 0px;
    min-width: 350px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

h1 {
    margin-bottom: 20px;
}

.table>tbody>tr .borrarColumn {
    background: white;
    border-top: none;
    width:10%;
}

.attractions {
    margin-bottom:20px;
}

.attractionsContainer img {
    width: 80px;
    float: left;
    height: 54px;
}

.attractionsContainer{
    border: 1px solid black;
    height: 56px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    display: flex;
}

.attractionsContainer a {
    margin-left: 15px;
    font-size:17px;
    color: black;
    width: 290px;
    display: inline-block;
    max-height: 100%;
    overflow: hidden;
}

.attractionsContainer .btn {
    float: right;
    margin-right: 10px;
    color: white;
    height: auto;
    width: auto;
}

.filterLabel label{
    margin-top: 5px;
}

.invisible{
    display:none;
}

.manageImages{
    margin-top:10px;
}