.createButton {
    margin-top:15px;
    margin-bottom: 15px;
}

.fieldcontain{
    margin-top: 15px;
    margin-bottom: 15px;
}

fieldset.form label {
    min-width: 120px;
}

.inputField input{
    border: 1px solid #aaa;
    border-radius: 5px;
    min-width:350px;
}

.contentList {
    font-size: 18px;
}

.contentList li {
    margin-top:5px;
    margin-bottom:5px;
}

.maps label {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.maps img, .images img {
    display: block;
    margin: 15px 0px 15px 0px;
    padding-top: 15px;
}

#show-attraction {
    margin-bottom: 45px;
}

.mainContainer{
    margin-bottom: 45px;
}

.addNewImage input{
    margin-top:10px;
    margin-bottom:10px;
}

.addNewImage{
    margin-top:45px;
}

.addNewTitle{
    float: left;
    margin-right: 30px;
}

.property-label {
    font-weight: bold;
    font-size: 16px;
}

